<html>
  <head>
    <meta charset='UTF-8' />
    <title>Pago Aprobado</title>
    <style>
      body {
        font-family: 'Courier New', monospace;
        background-color: #111;
        color: #0f0;
        padding: 20px;
      }
      .container {
        border: 2px solid #0f0;
        border-radius: 10px;
        padding: 20px;
        max-width: 600px;
        margin: auto;
      }
      h1 {
        text-align: center;
        font-size: 24px;
        color: #0f0;
      }
      p {
        line-height: 1.5;
      }
      .code-block {
        background: #000;
        border: 1px dashed #0f0;
        padding: 10px;
        margin-top: 15px;
        font-size: 14px;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>✔ Pago Aprobado</h1>
      <p>Hola {{username}},</p>
      <p>Tu pago fue procesado correctamente 🎉</p>
      <div class='code-block'>
        Orden ID:
        {{id}}<br />
        Monto: ... COP<br />
        Estado:
        {{status}}
        <br />
        Tickets:
        {{tickets}}
      </div>
      <p>Gracias por tu confianza.</p>
    </div>
  </body>
</html>
